<div class="container">
  <form class="row g-3" [formGroup]="MyForm" (ngSubmit)="send()">

    <!-- name -->
      <div class="col-12">
        <label for="validationCustom01" class="form-label">First Name</label>
        <input type="text" class="form-control" id="validationCustom01" formControlName="fname" [ngClass]="{
              'is-valid': MyForm.controls['fname'].valid && MyForm.controls['fname'].touched,
              'is-invalid': MyForm.controls['fname'].invalid && MyForm.controls['fname'].touched,
          }" />
        <div class="invalid-feedback" *ngIf="MyForm.controls['fname'].invalid && MyForm.controls['fname'].touched">
          <span *ngIf="MyForm.controls['fname'].hasError('required')">Please provide a enter first name.</span>
        </div>
        <div class="valid-feedback" *ngIf="MyForm.controls['fname'].valid">
          Looks good!
        </div>
      </div>
      <div class="col-12">
        <label for="validationCustom01" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="validationCustom01" formControlName="lname" [ngClass]="{
              'is-valid': MyForm.controls['lname'].valid && MyForm.controls['lname'].touched,
              'is-invalid': MyForm.controls['lname'].invalid && MyForm.controls['lname'].touched,
          }" />
        <div class="invalid-feedback" *ngIf="MyForm.controls['lname'].invalid && MyForm.controls['lname'].touched">
          <span *ngIf="MyForm.controls['lname'].hasError('required')">Please provide a enter last name.</span>
        </div>
        <div class="valid-feedback" *ngIf="MyForm.controls['lname'].valid">
          Looks good!
        </div>
      </div>

      <div class="col-12">
        <label for="validationCustom02" class="form-label">Email</label>
        <input type="email" class="form-control" id="validationCustom02" formControlName="email" [ngClass]="{
              'is-valid': MyForm.controls['email'].valid && MyForm.controls['email'].touched,
              'is-invalid': MyForm.controls['email'].invalid && MyForm.controls['email'].touched,
          }" />
        <div class="valid-feedback" *ngIf="MyForm.controls['email'].valid">
          Looks good!
        </div>
        <div class="invalid-feedback" *ngIf="
          MyForm.controls['email'].invalid &&
          MyForm.controls['email'].touched
          ">
          <span *ngIf="MyForm.controls['email'].hasError('required')">Please provide a enter Email.</span>
        </div>
      </div>


      <div class="col-12">
        <label for="validationCustom02" class="form-label">Password</label>
        <input type="password" class="form-control" id="validationCustom02" placeholder="password"  formControlName="password" [ngClass]="{
              'is-valid': MyForm.controls['password'].valid && MyForm.controls['password'].touched,
              'is-invalid': MyForm.controls['password'].invalid && MyForm.controls['password'].touched,
          }" />
        <div class="valid-feedback" *ngIf="MyForm.controls['password'].valid">
          Looks good!
        </div>
        <div class="invalid-feedback" *ngIf="
          MyForm.controls['password'].invalid &&
          MyForm.controls['password'].touched
          ">
          <span *ngIf="MyForm.controls['password'].hasError('required')">Please provide a enter password.</span>
        </div>
      </div>


      <div class="col-12">
        <label for="validationCustom02" class="form-label">Phone</label>
        <input type="text" class="form-control" id="validationCustom02" formControlName="phone" [ngClass]="{
              'is-valid': MyForm.controls['phone'].valid && MyForm.controls['phone'].touched,
              'is-invalid': MyForm.controls['phone'].invalid && MyForm.controls['phone'].touched,
          }" />
        <div class="valid-feedback" *ngIf="MyForm.controls['phone'].valid">
          Looks good!
        </div>
        <div class="invalid-feedback" *ngIf="
          MyForm.controls['phone'].invalid &&
          MyForm.controls['phone'].touched
          ">
          <span *ngIf="MyForm.controls['phone'].hasError('required')">Please provide a enter Phone Number.</span>
        </div>
      </div>

      <div class="col-12">
        <label for="validationCustom02" class="form-label">address</label>
        <input type="text" class="form-control" id="validationCustom02" formControlName="address" [ngClass]="{
              'is-valid': MyForm.controls['address'].valid && MyForm.controls['address'].touched,
              'is-invalid': MyForm.controls['address'].invalid && MyForm.controls['address'].touched,
          }" />
        <div class="valid-feedback" *ngIf="MyForm.controls['address'].valid">
          Looks good!
        </div>
        <div class="invalid-feedback" *ngIf="
          MyForm.controls['address'].invalid && MyForm.controls['address'].touched
          ">
          <span *ngIf="MyForm.controls['address'].hasError('required')">Please provide a enter  Address.</span>
        </div>
      </div>

      <div>
        <label for="validationCustom02" class="form-label">Upload product Image</label>
        <input class="form-control" type="file"  #img (change)="upload(img.files)">
      </div>

      <div>
        <button class="btn btn-primary" type="submit" [disabled]="">Edit</button>
      </div>

  </form>
</div>
