<div class="container">
  <form class="row g-3" [formGroup]="Form" (ngSubmit)="send()">

    <!-- name -->
      <div class="col-12">
        <label for="validationCustom01" class="form-label">First Name</label>
        <input type="text" class="form-control" id="validationCustom01" formControlName="fname"/>
        <div class="invalid-feedback" *ngIf="Form.controls['fname'].invalid && Form.controls['fname'].touched">
          <span *ngIf="Form.controls['fname'].hasError('required')">Please provide a enter User name.</span>
        </div>
        <div class="valid-feedback" *ngIf="Form.controls['fname'].valid">
          Looks good!
        </div>
      </div>

      <div class="col-12">
        <label for="validationCustom01" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="validationCustom01" formControlName="lname"/>
        <div class="invalid-feedback" *ngIf="Form.controls['lname'].invalid && Form.controls['lname'].touched">
          <span *ngIf="Form.controls['lname'].hasError('required')">Please provide a enter User name.</span>
        </div>
        <div class="valid-feedback" *ngIf="Form.controls['lname'].valid">
          Looks good!
        </div>
      </div>

      <div class="col-12">
        <label for="validationCustom02" class="form-label">Email</label>
        <input type="email" class="form-control" id="validationCustom02" formControlName="email"/>
        <div class="valid-feedback" *ngIf="Form.controls['email'].valid">
          Looks good!
        </div>
        <div class="invalid-feedback" *ngIf="
          Form.controls['email'].invalid &&
          Form.controls['email'].touched
          ">
          <span *ngIf="Form.controls['email'].hasError('required')">Please provide a enter Phone Number.</span>
        </div>
      </div>


      <div class="col-12">
        <label for="validationCustom02" class="form-label">Password</label>
        <input type="password" class="form-control" id="validationCustom02" formControlName="password"/>
        <div class="valid-feedback" *ngIf="Form.controls['password'].valid">
          Looks good!
        </div>
        <div class="invalid-feedback" *ngIf="
          Form.controls['password'].invalid &&
          Form.controls['password'].touched
          ">
          <span *ngIf="Form.controls['password'].hasError('password')">Please provide a enter Phone Number.</span>
        </div>
      </div>


      <div class="col-12">
        <label for="validationCustom02" class="form-label">Address</label>
        <input type="text" class="form-control" id="validationCustom02" formControlName="address"/>
        <div class="valid-feedback" *ngIf="Form.controls['address'].valid">
          Looks good!
        </div>
        <div class="invalid-feedback" *ngIf="
          Form.controls['address'].invalid &&
          Form.controls['phone'].touched
          ">
          <span *ngIf="Form.controls['address'].hasError('required')">Please provide a enter Phone Number.</span>
        </div>
      </div>

      <div class="col-12">
        <label for="validationCustom02" class="form-label">Phone</label>
        <input type="text" class="form-control" id="validationCustom02" formControlName="phone"/>
        <div class="valid-feedback" *ngIf="Form.controls['phone'].valid">
          Looks good!
        </div>
        <div class="invalid-feedback" *ngIf="
          Form.controls['phone'].invalid &&
          Form.controls['phone'].touched
          ">
          <span *ngIf="Form.controls['phone'].hasError('required')">Please provide a enter Phone Number.</span>
        </div>
      </div>

      <div class="col-12">
        <label for="validationCustom01" class="form-label">License</label>
        <input type="text" class="form-control" id="validationCustom01" formControlName="lname"/>
        <div class="invalid-feedback" *ngIf="Form.controls['lname'].invalid && Form.controls['lname'].touched">
          <span *ngIf="Form.controls['lname'].hasError('required')">Please provide a enter User name.</span>
        </div>
        <div class="valid-feedback" *ngIf="Form.controls['lname'].valid">
          Looks good!
        </div>
      </div>


      <div>
        <label for="validationCustom02" class="form-label">Upload product Image</label>
        <input class="form-control"  type="file" #img (change)="upload(img.files)">
      </div>

      <div>
        <button class="btn btn-primary" type="submit" [disabled]="">Add</button>
      </div>

  </form>
</div>
